html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%:
}
#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(1);
    filter: FlipH;
}

#camera--trigger{
    /* width: 10px;
    background-color: white;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 12px 18px;
    text-align: center;
    box-shadow: 1px 1px 13px 6px rgba(49, 49, 49, 0.75);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 0px); */
    width: 4px;
    margin-top: 9%;
    background-color: white;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    padding: 8px 18px;
    text-align: center;
    box-shadow: 1px 1px 13px 6px rgba(49, 49, 49, 0.75);
    position: fixed;
    bottom: unset;
    left: calc(50% - 0px);

}

.taken{
    height: 100px!important;
    width: 100px!important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    top: 20px;
    right: 20px;
    z-index: 2;
}

@media (min-width: 768px) and (max-width: 1024px) {
   #camera--trigger {
       margin-top: 4% !important;
   } 
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #camera--trigger {
        margin-top: 4% !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
   #camera--trigger {
       margin-top: 4% !important;
   } 
}

@media (min-width: 320px) and (max-width: 480px) {
   #camera--trigger {
       margin-top: 4% !important;
   } 
}